<footer class="navbar px-4" style="background-color: #19d3da;">
    <div class="container d-flex justify-content-center py-3">
        <span class="navbar-text text-dark fw-bold">
            © 2025 Gestor de Tickets
        </span>
    </div>
</footer>