<nav class="nav">
  <h1 class="nav-title">Gestor de Tickets</h1>

  <div class="nav-links">
    <a href="sesion/login" class="nav-link">Ingresar</a>
    <a href="sesion/registro" class="nav-link">Crear usuario</a>
    <a href="sesion/logout" class="nav-link">Salir</a>
  </div>
</nav> {{!3:07}}