<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <h2 class="mb-1 text-center">Bienvenido {{user.userName}}</h2>
                <h5 class="text-center mb-4">Añade una foto para tu perfil</h5>
                <div class="text-center mb-3">
                    {{#if imagen }}
                            <img src="/imagenes/perfiles/{{imagen}}" class="img-fluid rounded-circle border"style="width: 200px; height: 200px; object-fit:cover;" alt="Foto de perfil">
                    {{else}}
                            <img src="/imagenes/perfiles/perfil1.jpg"   class="img-fluid rounded-circle border"style="width: 200px; height: 200px; object-fit:cover;"alt="Foto de perfil">
                    {{/if}}
                </div>

                <form action="/perfil?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" name="myFile" class="form-control">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary px-4">Cambiar imagen de perfil</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>