<div class="container my-5">
    <div class="mx-auto p-4 shadow rounded-4" style="max-width: 500px; background: white;">
        <h2 class="text-center mb-5 pt-2 fw-bold">Registro de usuarios nuevos</h2>

        <form action="/sesion/registro" method="post" class="row g-4">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            <input type="text" name="userName" placeholder="Ingrese el nombre" value="jeff">
            <input type="text" name="correo" placeholder="Ingrese el correo" value="jeff@prueba.com">
            <input type="password" name="password" placeholder="Ingrese contraseña  " value="123456">
            <input type="password" name="repassword" placeholder="Repita contraseña  " value="123456">
            <button type="submit" class="btn btn-primary w-100 mb-3">Registrar usuario</button>

        </form>
    </div> 
</div>           